# Set

In [1]:
A={1,2,3,4}
print(A)

{1, 2, 3, 4}

In [2]:
# empty set
a={}
b=set()
print(a,type(a))
print(b)

{} <class 'dict'>
set()

In [3]:
A=[1,2,3,4]
print(set(A))

{1, 2, 3, 4}

In [4]:
x={1,2,3,1,2,3}
print(x)

{1, 2, 3}

In [5]:
A={1,2,3}
B={1,4,5,6}
print(A.intersection(B))
print(A.union(B))

{1}
{1, 2, 3, 4, 5, 6}

In [6]:
A={1,2,3}
B={*A}
print(A)
print(B)

{1, 2, 3}
{1, 2, 3}

# Range

In [7]:
range(7)

range(0, 7)

In [8]:
range(3,10)

range(3, 10)

In [9]:
print(range(3,10,2))

range(3, 10, 2)

In [10]:
for a in range(3,10,2):
    print(a)

3
5
7
9

# Matrices

In [11]:
A=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(A)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
print(A[0])

[1, 2, 3]

In [13]:
print(A[0][1])

2

# Tuples

In [14]:
x=(1,2,3)
print(x,type(x))

(1, 2, 3) <class 'tuple'>

In [15]:
x=1,2,4
print(x,type(x))

(1, 2, 4) <class 'tuple'>

# Dictionaries

In [16]:
D={
    'name':'jack',
    'age':12,
    'town':'ygn',
    'married':False,
    'pet':['cat','dog']
}
print(D,type(D))

{'name': 'jack', 'age': 12, 'town': 'ygn', 'married': False, 'pet': ['cat', 'dog']} <class 'dict'>

In [17]:
D.keys()

dict_keys(['name', 'age', 'town', 'married', 'pet'])

In [18]:
D.values()

dict_values(['jack', 12, 'ygn', False, ['cat', 'dog']])

In [19]:
D.items()

dict_items([('name', 'jack'), ('age', 12), ('town', 'ygn'), ('married', False), ('pet', ['cat', 'dog'])])

In [20]:
D['name']

'jack'

# for loop

In [21]:
A=[1,2,3,4,5]
for a in A:
    print(a,end=' ')

1 2 3 4 5

In [22]:
B=[]
for a in A:
    B.append(a**2)
print(B)

[1, 4, 9, 16, 25]

In [23]:
C=list(range(0,30))
D=[]
for c in C:
    if c%2==0:
        D.append(c)
print(D)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [24]:
# list comprehension
E=[e for e in C if e%2==0]
print(E)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

# While

In [25]:
import datetime
start_date=datetime.datetime(2023,7,1)
end_date=datetime.datetime(2023,9,3)
while start_date < end_date:
    print(start_date)
    start_date += datetime.timedelta(days=1)
print("\nwhile loop complete")

2023-07-01 00:00:00
2023-07-02 00:00:00
2023-07-03 00:00:00
2023-07-04 00:00:00
2023-07-05 00:00:00
2023-07-06 00:00:00
2023-07-07 00:00:00
2023-07-08 00:00:00
2023-07-09 00:00:00
2023-07-10 00:00:00
2023-07-11 00:00:00
2023-07-12 00:00:00
2023-07-13 00:00:00
2023-07-14 00:00:00
2023-07-15 00:00:00
2023-07-16 00:00:00
2023-07-17 00:00:00
2023-07-18 00:00:00
2023-07-19 00:00:00
2023-07-20 00:00:00
2023-07-21 00:00:00
2023-07-22 00:00:00
2023-07-23 00:00:00
2023-07-24 00:00:00
2023-07-25 00:00:00
2023-07-26 00:00:00
2023-07-27 00:00:00
2023-07-28 00:00:00
2023-07-29 00:00:00
2023-07-30 00:00:00
2023-07-31 00:00:00
2023-08-01 00:00:00
2023-08-02 00:00:00
2023-08-03 00:00:00
2023-08-04 00:00:00
2023-08-05 00:00:00
2023-08-06 00:00:00
2023-08-07 00:00:00
2023-08-08 00:00:00
2023-08-09 00:00:00
2023-08-10 00:00:00
2023-08-11 00:00:00
2023-08-12 00:00:00
2023-08-13 00:00:00
2023-08-14 00:00:00
2023-08-15 00:00:00
2023-08-16 00:00:00
2023-08-17 00:00:00
2023-08-18 00:00:00
2023-08-19 00:00:00
2023-08-20 00:00:00
2023-08-21 00:00:00
2023-08-22 00:00:00
2023-08-23 00:00:00
2023-08-24 00:00:00
2023-08-25 00:00:00
2023-08-26 00:00:00
2023-08-27 00:00:00
2023-08-28 00:00:00
2023-08-29 00:00:00
2023-08-30 00:00:00
2023-08-31 00:00:00
2023-09-01 00:00:00
2023-09-02 00:00:00

while loop complete

In [26]:
a=1
while a<6:
    print(a)
    a+=1

1
2
3
4
5

In [27]:
a=1
while a<10:
    print(a)
    if a==5:
        break
    a+=1

1
2
3
4
5

In [28]:
a=1
while a<10:
    a+=1
    if a==3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [29]:
a=0
while a<6:
    print(a)
    a+=1
else:
    print("a is no longer less than 6")

0
1
2
3
4
5
a is no longer less than 6