# Function

In [1]:
def my_fun():
    print('Hello')

In [2]:
my_fun

In [3]:
my_fun()

Hello

In [4]:
def my_fun(name='Jack'):
    print(f'Hello {name}')
    print(f'Where are you from, {name}')

In [5]:
my_fun()

Hello Jack
Where are you from, Jack

In [6]:
def my_fun(x,y):
    addition=x+y
    subtract=x-y
    multiply=x*y
    division=x/y
    return f'addition is {addition},subtract is {subtract},multiply is {multiply},and division {division}'

In [7]:
my_fun(2,3)

'addition is 5,subtract is -1,multiply is 6,and division 0.6666666666666666'

# Lambda Function

In [8]:
fun=lambda n:n*2
print(fun(2))

4

In [9]:
fun=lambda x,y:x-y*2
fun(10,100)

-190

# Map Function

In [10]:
my_list=[1,2,3,4]
def double(n):
    return n*2
result=map(double,my_list)
print(result)

<map object at 0x000001C8A1B2DF40>

In [11]:
for r in result:
    print(r)

2
4
6
8

In [12]:
my_list=[1,2,3,4,5]
mapped=map(lambda x:x*x,my_list)
for m in mapped:
    print(m)

1
4
9
16
25

# List Comprehension

In [13]:
A=[]
for _ in range(10):
    A.append(_)
print(A)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
B=[_ for _ in range(10)]
print(B)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Enumerate

In [15]:
my_list=['a','b','c','d','e']
for i in range(len(my_list)):
    print(i,my_list[i])

0 a
1 b
2 c
3 d
4 e

In [16]:
for i,j in enumerate(my_list):
    print(i,j)

0 a
1 b
2 c
3 d
4 e

In [17]:
Dict=dict(enumerate(my_list))
print(Dict)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

# Zip

In [18]:
x=[1,2,3,4,5]
y=['a','b','c','d','e']
z=['apple','ball','cat','dog','eraser']
for a,b,c in zip(x,y,z):
    print(a,b,c)

1 a apple
2 b ball
3 c cat
4 d dog
5 e eraser

In [19]:
for i in zip(x,y,z):
    print(i)

(1, 'a', 'apple')
(2, 'b', 'ball')
(3, 'c', 'cat')
(4, 'd', 'dog')
(5, 'e', 'eraser')

In [20]:
list(zip(x,y,z))

[(1, 'a', 'apple'),
 (2, 'b', 'ball'),
 (3, 'c', 'cat'),
 (4, 'd', 'dog'),
 (5, 'e', 'eraser')]

# *args and *kwargs

In [21]:
def my_fun(*args):
    for _ in args:
        print(_)
my_fun('a','b','c','d','e')

a
b
c
d
e

In [22]:
def my_fun(a,*args):
    print(a)
my_fun('b','c')

b

In [23]:
def my_fun(a,*args):
    print(a)
    print(args[0])
    print(args[1])
my_fun('a','b','c')

a
b
c

In [24]:
def my_fun(n,*args):
    print(n)
    print(args[2])
my_fun(1,2,3,4)

1
4

In [25]:
def func(**kwargs):
    for a,b in kwargs.items():
        print(a,b)
func(a='apple',b='banana')

a apple
b banana

In [26]:
def func(a,**kwargs):
    print(a)
    for x,y in kwargs.items():
        print(x,y)
        
func('apple',x='xylo',y='yell')

apple
x xylo
y yell

In [27]:
def myFunc(*args,**kwargs):
    print('args: ',args)
    print('kwargs', kwargs)
myFunc('apple','orange',a='apple',b='ball')

args:  ('apple', 'orange')
kwargs {'a': 'apple', 'b': 'ball'}

In [28]:
def mult(a,b,c):
    return a*b*c
mult(1,2,3)

6

In [29]:
my_tuple=(12,12,12)
print(mult(*my_tuple))

1728